body {
  margin: 0;
  width: 100%;
  font-family: Roboto, sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@media screen and (max-width: 320px) {
	body {
		overflow-x: scroll;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* - - - - - - Layout & General - - - - - - */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

.text60 {
	font-size: 60px;
}

.grayText {
	color: #0F0E0E;
}

.greyDiv {
	background: #F9F9F9;
}

section {
	clear: both;
}

.flexBox {
	display: flex;
	justify-content: space-between;
}

.flexBox2 {
	display: flex;
	justify-content: space-around;
}

.flexBox3 {
	display: flex;
	align-items: center;
}

.flexBox4 {
	display: flex;
	justify-content: center;
}

.flexBox5 {
	display: flex;
	justify-content: flex-end;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

#wrapper {
	min-height: 100%;
	min-width: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:'header' 'main' 'footer';
}


/* - - - - - - Header - - - - - - */

header {
	padding: 0 2%;
	height: 100px;
	grid-area: header;
	background: white;	
	justify-content: flex-start;		
}

header, header nav {
	position: sticky;
	top: 0;
	z-index: 5;
	
}

nav {
	height: 100px;
    width: 50%;
}

#logo {
	position: relative;
	top: 8px;
	width: 50px;
}

#navTextDiv {
	width: 70%;
	justify-content: space-evenly;
}

header a, button {
	color: #010A44;
	font-size: 45px;
	font-weight: bold;
	text-decoration: none;
}

button {
	border: none;
	background: #010A44;
	padding: 5px;
	border-radius: 10px;
	color: white;
}

input:focus {
	border: none;
}

.searchField {
	display: none;
	background: #F1F1F1 url('./images/header/searchIcon.png') no-repeat 260px;
	border-radius: 170px;
	width: 300px;
	height: 50px;
	border: none;
	padding: 9px;
	transition: width 9s 3s;
	-webkit-transition: width 9s 3s;
}

.revealField {
	display: block;
	width: 100%;
	background: #F1F1F1;
	z-index: 5;
}

.revealForm {
	position: absolute;
	width: 90%;
}

#searchButton {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 0;
}

.searchButtonOnReveal {
	position: fixed;
	z-index: 6;
}

@media screen and (min-width: 800px) {

	#logo {
	width: 80px;
}

header a, button {
	font-size: 27px;
}

.searchField {
	display: block;
}

#searchButton {
	display: none;
}

nav {
    width: 80%;
}

#navTextDiv {
	width: 35%;
}
}


/* - - - - - - Main- - - - - - */

main {
	grid-area: main;
	position: relative;
}


/* - - - - - - Footer- - - - - - */

footer {
	height: 200px;
	grid-area: footer;
	background: #010A44;
	color: white;
	font-size: 20px;
}


/* - - - - - - Home- - - - - - */

#home section:first-child {
	margin-bottom: 90px;
}

#home article {
	margin: 0 5%;
}

section, section > div {
	position: relative;
	clear: both;
}

#heroPic {
	width: 100%;
}

#heroBubble {
	position: absolute;
	background: rgba(0,0,0,0.45);
	width: 200px;
	height: 200px;
	border-radius: 100px;
	color: white;
	padding: 0;
	text-align: center;
	right: 10%;
	bottom: 20px;
}

#heroBubble h1 {
	font-size: 25px;
	font-weight: 500;
}

#moreIcon {
	display: block;
	width: 50px;
	position: relative;
	margin: 0 auto;
	bottom: 25px;
}

.homeHeaders {
	width: 75%;
	margin: 100px auto;
	font-size: 50px;
}

.victimHomeGrid {
    display: grid;
    width: 90%;
    grid-template-columns: 31% 31% 31%;
    gap: 3.5%;
    color: white;
}

.victimHomeGrid > div {
	background: #0F0E11;
}

.victimHomeGrid > div > div {
	padding: 20px;
}

.victimHomeGrid p {
	font-weight: 300;
	padding: 20px 8px;
}

#statsHome {
	height: 300px;
	margin-top: 50px;
}

#statsHome div {
	width: 150px;
}

#statsHome h1 {
	padding-bottom: 20px;
}


@media screen and (min-width: 700px) {
	#heroBubble {
		height: 320px;
		width: 320px;
		border-radius: 160px;
		bottom: 95px;
	}

	#heroBubble h1 {
	font-size: 3em;
	}

	#moreIcon {
		width: 80px;
		bottom: 50px;
	}

	.homeHeaders {
		width: 80%;
		font-size: 60px;
	}
}

