body {
  margin: 0;
  width: 100%;
  font-family: Roboto, sans-serif, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* - - - - - - Layout & General - - - - - - */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

.text60 {
	font-size: 60px;
}

.text80 {
	font-size: 80px;
}

.grayText {
	color: #0F0E0E;
}

.greyDiv {
	background: #F9F9F9;
}

.blueText {
	color: #010A44;
}

.blueDiv {
	background: #010A44;
	color: white;
}

.blackDiv {
	background: #0F0E11;
	color: white;
}

section {
	clear: both;
}

img {
	width: 100%;
}

.flexBox {
	display: flex;
	justify-content: space-between;
}

.flexBox2 {
	display: flex;
	justify-content: space-around;
}

.flexBox3 {
	display: flex;
	align-items: center;
}

.flexBox4 {
	display: flex;
	justify-content: center;
}

.flexBox5 {
	display: flex;
	justify-content: flex-end;
}

.flexBox6 {
	display: flex;
	justify-content: flex-start;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.floatLeft {
	float: left;
}

#wrapper {
	min-width: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:'header' 'main' 'footer';
}


/* - - - - - - Header - - - - - - */

header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0 2%;
	height: 100px;
	grid-area: header;
	background: white;	
	justify-content: flex-start;		
}

header, header nav {
	position: sticky;
	top: 0;
	z-index: 6;
	
}

nav {
	height: 100px;
    width: 50%;
}

.logo {
	position: relative;
	top: 8px;
	width: 50px;
}

#navTextDiv {
	width: 70%;
	justify-content: space-evenly;
}

header a, button {
	color: #010A44;
	font-size: 27px;
	font-weight: bold;
	text-decoration: none;
}

button {
	border: none;
	background: #010A44;
	padding: 5px;
	border-radius: 10px;
	color: white;
}

input:focus {
	border: none;
}

.searchField {
	display: none;
	background: #F1F1F1 url('./images/header/searchIconGrey.png') no-repeat 260px;
	border-radius: 170px;
	width: 300px;
	height: 50px;
	border: none;
	padding: 9px;
	transition: width 9s 3s;
	-webkit-transition: width 9s 3s;
}

.revealField {
	display: block;
	width: 100%;
	background: #F1F1F1;
	z-index: 5;
}

.revealForm {
	position: absolute;
	width: 90%;
}

#searchButton {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.searchButtonOnReveal {
	position: fixed;
	z-index: 6;
}

@media screen and (min-width: 800px) {

	#logo {
	width: 80px;
	}

	header a, button {
	font-size: 30px;
	}

	.searchField {
	display: block;
	}

	#searchButton {
	display: none;
	}

	nav {
    width: 80%;
	}

	#navTextDiv {
	width: 35%;
	}
}


/* - - - - - - Main- - - - - - */

main {
	grid-area: main;
	position: relative;
}


/* - - - - - - Footer- - - - - - */

footer {
	width: 100%;
	grid-area: footer;
	padding: 5% 0;
	position: sticky;
	top: 100vw;
}

footer section {
	height: 80%;
}

#footerContent {
	display: none;
}

@media screen and (min-width: 700px) {

	#footerContent {
		display: flex;
	}

	#footerContentMobile {
		display: none;
	}
}

/* - - - - - - Home- - - - - - */

#home section:first-child {
	margin-bottom: 90px;
}

article {
	margin: 0 5%;
	width: 90%;
}

section {
	position: relative;
	clear: both;
	width: 100%;
}

#heroPic {
	width: 100%;
}

#heroBubble {
	position: absolute;
	background: rgba(0,0,0,0.45);
	width: 200px;
	height: 200px;
	border-radius: 100px;
	color: white;
	padding: 0;
	text-align: center;
	right: 10%;
	bottom: 20px;
}

#heroBubble h1 {
	font-size: 25px;
	font-weight: 500;
}

#moreIcon {
	display: block;
	width: 50px;
	position: relative;
	margin: 0 auto;
	bottom: 25px;
}

.homeHeaders {
	width: 75%;
	margin: 100px auto;
	font-size: 50px;
}

.victimHomeGrid {
    display: grid;
    width: 90%;
    grid-template-columns: 31% 31% 31%;
    gap: 3.5%;
    color: white;
}

.victimHomeGrid > div {
	background: #0F0E11;
}

.victimHomeGrid > div > div {
	padding: 20px;
	padding-bottom: 0;
}

.victimHomeGrid p {
	font-weight: 300;
	padding: 20px 8px;
}

#statsHome {
	height: 300px;
	width: 90%;
	margin: 50px auto 70px;
}

#statsHome div {
	width: 150px;
	text-align: center;
}

#statsHome h1 {
	padding-bottom: 20px;
	font-size: 30px;
}

#statsHome p {
	text-align: center;
}

.date {
		font-size: 0.7em;
		color: 	#BCBCBC;
		padding: 20px 0 !important; 
}

@media screen and (min-width: 750px) {
	#heroBubble {
		height: 320px;
		width: 320px;
		border-radius: 160px;
		bottom: 95px;
	}

	#heroBubble h1 {
	font-size: 3em;
	}

	#moreIcon {
		width: 80px;
		bottom: 50px;
	}

	.homeHeaders {
		width: 80%;
		font-size: 60px;
	}

	.date {
		font-size: 1em;
	}
	
}


/* - - - - - - About- - - - - - */

#aboutCont {
	display: grid;
    width: 100%;
    grid-template-rows: 20% max-content;
    grid-template-columns: 100%;
    color: white;
}

#aboutCont > div:first-child {
	padding: 30px 0;
}

#aboutContentContainer {
	padding: 50px 5%;
}

#h1Line {
	width: 40%;
}


@media screen and (min-width: 700px) {

	#h1Line {
	width: 25%;
	}

	#aboutCont {
	display: flex;
	}

	#aboutCont > section:first-child {
	width: 30%;
	}

}

#h1Div {
	padding-bottom: 20px;
}

#aboutContent {
	height: 50%;
}

#about p {
	font-size: 22px;
	padding-bottom: 10px;
}

#aboutCont h1 {
	font-size: 40px;
}

#about > section > #statsHome {
	margin-bottom: 0;
}


/* - - - - - - Memoirs- - - - - - */

#memoir {
	padding: 20px 0;
}

#memoir > section:first-child {
	padding: 0 3%
}

#memoir .date {
	font-size: 1.2em
}

.victimPicDiv {
	width: 30%;
	height: 550px;
	margin-right: 10%;
}

.victimPicDiv img  {
	height: 550px;
}

.victimNameHeader, #heroBubble2, .comments h1 {
	font-weight: 300;
	font-size: 3em;
}

#victimIntro > div:nth-child(2) {
	padding-top: 30px;
}

#memoir #heroBubble {
	background: black;
	position: relative;
	bottom: 0;
	opacity: 90%;
	top: 30px;
}

#heroBubble2 {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	text-align: center;
	position: relative;
	left: -90px;
	top: 60px;
	z-index: 5;
}

#bio h1 {
	font-size: 3em;
	margin: 120px auto 30px;
	text-align: center;
}

#bio div {
	width: 90%;
	margin: 0 auto;
}

#bio div p {
	margin-bottom: 15px;
	font-size: 22px;
}

@media screen and (max-width: 750px) {
	#heroBubble2 {
		height: 100px;
		width: 100px;
		border-radius: 50px;
		font-size: 2em;
		left: -75px;
		top: 50px;
	}

	.victimPicDiv {
	width: 50%;
	margin-right: 10%;
	}

	.mediaHeader h1 {
	position: absolute;
	width: 60%;
	left: 40%;
	}
}

.mediaHeader {
	overflow-x: hidden;
	color: white;
	position: relative;
	height: 50px;
	margin: 120px 0 50px;
}

.mediaHeader div:first-child {
	width:60%;
}

.mediaHeader div:nth-child(2) {
	width: 40%;
}

.mediaHeader h1 {
	position: absolute;
	width: 60%;
	left: 50%;
}


.gallery {
	margin: 0 3%;
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 48% 48%;
}

.comments {
	padding: 100px 3%;
	height: 900px;
}